.stb-component-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 375px;
    height: 72px;
    font-size: 36px;
    color: #000;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-input.hidden {
        display: none; }
    .stb-component-input.focus {
        outline: 1px dashed red; }
