.stb-component-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: #000; }
    .stb-component-input.hidden {
        display: none; }
